{% extends 'mainapp/base.html' %}
{% block content %}

<div class="col-md-12">
    <div class="col-md-4"></div>

    <div class="col-md-4 col-md-12">
        <h3 class="center">Registration</h3>
        <form action="{% url 'mainapp:registration' %}" method="post">
            <h4>E-mail:</h4>
            <input type="email" class="form-control" name="mail" required>

            <h4>Password:</h4>
            <input type="password" class="form-control" name="password" required>

            <h4>Name:</h4>
            <input type="text" class="form-control" name="name" required>

            <h4>Surname:</h4>
            <input type="text" class="form-control" name="surname" required>

            <button type="submit" style="float: right; margin-top: 3%" class="btn btn-success">Next</button>
        </form>
    </div>

    <div class="col-md-4"></div>
</div>

{% endblock %}